<h1>Top 5 Articles</h1>
<ul class="top3-list">
<% i=1 %>
  <% @top5.each do |art|%>
    <% article = Article.find(art[0]) %>

    <li class="best-<%= i %>">
      <div class="article-image background-image">
        <%= image_tag article.image.url if article.image? %>
      </div>
      <%= render article %>
    </li>
    <% i=i+1 %>
  <% end %>
</ul>
