@mixin flex-center
  display: flex
  flex-direction: column
  align-items: center

@mixin background-fade
  background: rgb(0,0,0)
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6208683302422531) 50%, rgba(0,0,0,1) 100%)

.article-header
  @include flex-center
  width: 100%

.article-footer
  @include flex-center
  width: 100%

.article-image
  @include flex-center
  justify-content: center
  position: absolute
  width: 100%
  height: 100%
  z-index: -1
  img
    max-width: 100%

.article-content
  @include background-fade
  @include flex-center
  justify-content: space-around
  width: 100%
  height: 100%

.new-article
  color: black
