.category-header {
  color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffa366;
  color: white;
  font-weight: bold;
  border: 0;
  border-top: 4px;
  border-style: solid;
  border-color: gray;
  width: 100%;
  height: 50px;
  position: fixed;
  top: auto;
  bottom: 0;
}

.footer a {
  color: white;
}

.footer ul {
  position: relative;
  left: 5%;
}

.footer ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 20px;
}

.footer small {
  position: absolute;
  right: 5%;
}

.user-article-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.user-article-index li {
  border-radius: 5px;
  border-width: medium;
  border-color: gray;
  border-style: solid;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(0, 0, 0, 0.620868)), to(black));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.620868) 50%, black 100%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-bottom: 20px;
  width: 33.3%;
  height: 300px;
}

.user-article-index .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
}

.user-article-index-2 {
  border-radius: 5px;
  border-width: medium;
  border-color: gray;
  border-style: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  color: black;
  margin: 25px;
}

.user-article-index-2 a {
  margin: 0 15px;
  color: brown;
}

.user-article-index-2 a:hover {
  color: orange;
  text-decoration: none;
}

.user-article-index-2 li {
  border-radius: 5px;
  border-width: medium;
  border-color: gray;
  border-style: solid;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(0, 0, 0, 0.620868)), to(black));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.620868) 50%, black 100%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-bottom: 20px;
  width: 45%;
  height: 300px;
}

.user-article-index-2 .header-image {
  max-width: 300px;
  max-height: 300px;
}

.user-article-index-2 .header-image img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=categories.css.map */