.weather
  display: inline-flex

.first-article
  margin-left: 10px
  width: 65%
  max-height: 47vh

.second-article
  float: right
  margin-right: 10px
  width: 30%
  max-height: 47vh

.cats
  display: flex
  flex-direction: row
  li
    margin: 10px
    max-height: 250px
    .article-header
      h3
        border: 0
        border-bottom: 2px
        border-style: solid
        border-color: orange

body
  max-height: 100vh
