<footer class="footer">
  <div>
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "Articles", articles_path %></li>
    </ul>
  </div>
  <small>
    <a href="https://www.railstutorial.org/">Project on Github</a>
  </small>
</footer>
